@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Doodle+Shadow&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }


  .swiper-pagination{
    bottom: -5px !important;
  }

  .swiper-pagination-bullet{
      width: 10px !important;
      height: 10px !important;
      border-radius: 5px !important;
      transition: all 0.5s ease;
    }
    .swiper-pagination-bullet-active{
        width: 30px !important;
        background-color: red !important;
    }


    /* hero swiper */
    .hero-swiper .swiper-slide img{
      transition: all 15s;
      }
  
      .hero-swiper .swiper-slide-active img{
      scale: 1.25;
      }

    .testimonial-pagination{
      bottom: 0 !important;
    }

   .testimonial-pagination .swiper-pagination-bullet
   {
    background-color: white !important;
    opacity: 1 !important;
   }
   .testimonial-pagination .swiper-pagination-bullet-active
   {
    background-color: red !important;
   }
  


    .testimonial-swiper{
      width: 100%;
      margin-top: 50px;
      
    }

    .testimonial-swiper .swiper-slide {
      background-position: center;
      background-size: cover;
      max-width: 600px;
    }
    
    .testimonial-swiper .swiper-slide img {
      display: block;
      width: 100%;
    }

    .testimonial-swiper .swiper-slide{

      filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      -webkit-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
    .testimonial-swiper .swiper-slide-active{
      filter: blur(0);
      -webkit-filter: blur(0);
    }




    /* message from ceo section */

    .messageFromCeo-section .overlay-image{
      background-image: url('/images/Digital Marketing Careers.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.5;
      filter: blur(4px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .messageFromCeo-section .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.8;
  }
  .messageFromCeo-section .testimonial-container-1{
      /* background-color: #55c1f9; */
      background: rgb(86,193,249);
      background: linear-gradient(90deg, rgba(86,193,249,1) 31%, rgba(145,208,244,0.9725023798581933) 100%); 
  }
  .messageFromCeo-section .testimonial-container-2{
      /* background-color: #55c1f9; */
      background: rgb(86,193,249);
      background: linear-gradient(300deg, rgba(86,193,249,1) 31%, rgba(145,208,244,0.9725023798581933) 100%); 
  }

  .messageFromCeo-section .message-div .heading{
      background: linear-gradient(to left, #ffa200, #DF4838);
      -webkit-background-clip: text;
      color: transparent;
      padding-bottom: 10px;
      /* display: inline-block; */
  }
  .messageFromCeo-section .circle{
      background: linear-gradient(to right, #ffa200, #DF4838);
      transition: transform 2s;
      /* background: linear-gradient(to right, #ff0000, #00ff00); */
      /* animation: rotate 0.5s infinite linear; */
      /* animation: rotate360 2s linear infinite; */
      
  }
  .messageFromCeo-section .circle:hover{
      transform: rotate(360deg); 
      /* cursor: pointer; */
     
      /* transform: scale(1.5); */

  }